<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resgister Page</title>
</head>
<body>
    <h1>Welcome In Register Page</h1>
    <form action="/register" method="post">
        <label>UserName : </label><br>
        <input required type="text" placeholder="UserName" name="Username">
        <br><br>
        <label>Password : </label><br>
        <input required type="password" placeholder="Password" name="password">
        <br><br>
        <label>Email : </label><br>
        <input required type="email" placeholder="Email" name="emailUser">
        <br><br>
        <button type="submit">Submit</button>
        <br>
    </form>
</body>
</html>